{{>partials/header}}
<body>
 
<div class="background-container">

<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>

    <p>Aqui é o conteúdo do site</p>

</div>
 
{{>partials/footer}}
 
</body>